* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* Start NavBar Section */

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo h1 {
    font-size: 3.4rem;
    font-weight: 600;
    color: white;
}

.logo h1 span {
    color: #ff004f;
    font-size: 4.5rem;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    position: relative;
}

nav ul li a {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff004f;
}

nav li {
    list-style: none;
    position: relative;
}

.menu {
    display: none;
}

.boder-bottom::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 0;
    transition: 0.5s;
}

.boder-bottom:hover:before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    transition: 0.5s;
}

/* End NavBar Section */

/* Start Home Section */

.content-container {
    display: flex;
}

.left-section {
    display: inline-block;
    padding-top: 10.5rem;
    padding-bottom: 0;
}

.left-section p {
    font-size: 15px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(213, 212, 212);
}

.left-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3.4rem;
    padding-top: 0.5rem;
}

.left-section .title-b {
    font-size: 2.7rem;
    font-weight: 600;
}

.left-section h1 span {
    color: #ff004f;
    font-weight: 700;
}

.right-section {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    background-attachment: fixed;
}

.right-section img {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

.right-section img:hover {
    transition: 1.5s all ease-in-out;
    transform: translateY(-10%);
}

/* End Home Section */

/* Start Services Section */

#about {
    background-color: #080808;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.second-container {
    display: flex;
    padding-top: 8rem;
    padding-bottom: 2.5rem;
}

.section-left {
    height: 90%;
    border-radius: 15px;
    background-color: dimgray;
}

.section-left img {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.section-right {
    display: inline-block;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.section-right .title-top {
    font-size: 55px;
    font-weight: 700;
    color: white;
    padding-bottom: 1rem;
}

.section-right .parag-top {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    padding-bottom: 1.5rem;
}

ul li {
    position: relative;
}

li.border-bottom-js::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 0;
    transition: 0.5s;
}

li.border-bottom-js:hover::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
}

.section-right ul li a {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-right: 2.5rem;
}

.container-links {
    display: flex;
    margin: 4px 0 42px;
    cursor: pointer;
}
    
.container-links p {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-right: 50px;
    transition: 0.5s;
    position: relative;
}

.container-links p:hover {
    color: wheat;
}

.bor-bot::after {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 0;
    bottom: -8px;
    width: 50%;
    background-color: #ff004f;
    height: 3px;
    transition: 0.5s;
}

.container-content {
    display: inline-block;
}

.container-content ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.container-content ul li span {
    color: #b54769;
    font-size: 14px;
    padding-bottom: 1.5rem;
}

.container-content {
    display: none;
}

.container-content.active-link,
.container-content.active-contents {
    display: block;
}

/* End About Section */

/* Start Services Section */

#services {
    background-color: #080808;
    padding-top: 5.5rem;
    margin-bottom: 1.5rem;
}

.services-container {
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}

.top {
    display: inline-block;
}

.top h1 {
    font-size: 5.5rem;
    font-weight: 700;
    color: white;
    padding-bottom: 4.5rem;
}


.container-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 2rem;
    cursor: pointer;
}

.box { 
    background-color: #262626;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    transition: background 0.5s, transform 0.8s;
    cursor: pointer;
}

.box:hover {
    background-color: #ff004f;
    transform: translateY(-10%);
}

.box:hover {
    transform: translateY(-10%);
}

.box svg {
    width: 81px;
    height: 50px;
    fill: currentColor;
    color: white;
}

.box h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    padding-bottom: 0.5rem;
}

.box p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1rem;
}

.box a {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

/* End Services Section */

/* Start Portfolio Section */

#portfolio {
    background-color: #080808;
    padding-top: 5.5rem;
    padding-bottom: 0.5rem;
}

.container-portfolio {
    display: flex;
    flex-direction: column;
}

.container-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 0.2rem;
    padding-bottom: 0;
}

.box-2 {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.box-2 img {
    border-radius: 10px;
    margin-right: 0.5rem;
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.contain-contents {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}

.box-2:hover img {
    transform: scale(1);
}

.box-2:hover .contain-contents {
    height: 100%;
}

.box-2 h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 1rem;
}

.box-2 p {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding-top: 0.5rem;
    text-align: center;
}

.box-2 svg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 18px;
}

.btn {
    display: block;
    padding: 14px 50px;
    margin: 50px auto;
    border-radius: 6px;
    border: 1px solid #ff004f;
    color: #ff004f;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
    color: white;
}

/* End Portfolio Section */

/* Start Contact Section */

#contact {
    background-color: #080808;
    padding-top: 4.5rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-contact {
    display: grid;
}

.left-contact h1 {
    font-size: 5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 1.8rem;
}

.left-contact svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
    color: #ff004f;
}

.left-contact p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(213, 212, 212);
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

/* End Contact Section */

/* Start Responsive Moble And Medium */

@media screen and (min-width: 300px) and (max-width: 700px) {
    /* NavBar */

    .main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-container .logo {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .logo span {
        font-size: 2.5rem;
    }

    nav ul {
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li .home.active {
        color: white;
    }

    .menu {
        display: block;
        fill: currentColor;
        color: white;
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .menu-ch {
        display: block;
        width: 35px;
        height: 35px;
        fill: currentColor;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 46px;
        left: 18rem;
    }

    /* Home Section */

    .content-container {
        flex-direction: column;
    }

    .left-section {
        display: block;
        padding-top: 5.5rem;
        padding-left: 0.2rem;
    }

    .left-section p {
        font-size: 1em;
        font-weight: 500;
    }

    .left-section h1 {
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }

    .left-section .title-b {
        font-size: 2rem;
    }

    .right-section {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .right-section img {
        margin-top: 2rem;
    }

    /* About Section */

    .second-container {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-left: 12px;
        padding-right: 12px;
    }

    .section-left {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .section-left img { 
        width: 100%;
        height: 100%;
    }

    .section-right {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .section-right .title-top {
        font-size: 48px;
        font-weight: 500;
        padding-top: 1.5rem;
    }

    .container-links p {
        margin-right: 19px;
    }

}

/* End Responsive Mobile And Medium */
