* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* Start NavBar Section */

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo h1 {
    font-size: 3.4rem;
    font-weight: 600;
    color: white;
}

.logo h1 span {
    color: #ff004f;
    font-size: 4.5rem;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    position: relative;
}

nav ul li a {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff004f;
}

nav li {
    list-style: none;
    position: relative;
}

.boder-bottom::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 0;
    transition: 0.5s;
}

.boder-bottom:hover:before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    transition: 0.5s;
}

/* End NavBar Section */

/* Start First Section */

.content-container {
    display: flex;
}

.left-section {
    display: inline-block;
    padding-top: 10.5rem;
    padding-bottom: 0;
}

.left-section p {
    font-size: 15px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(213, 212, 212);
}

.left-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3.4rem;
    padding-top: 0.5rem;
}

.left-section .title-b {
    font-size: 2.7rem;
    font-weight: 600;
}

.left-section h1 span {
    color: #ff004f;
    font-weight: 700;
}

.right-section {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
}

.right-section img {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

.right-section img:hover {
    transition: 1.5s all ease-in-out;
    transform: translateY(-10%);
}

/* End First Section */

/* Start Second Section */

.second-container {
    display: flex;
    padding-top: 10rem;
}

.section-left {
    height: 90%;
    border-radius: 15px;
    background-color: dimgray;
}

.section-left img {
    padding-top: 0rem;
    padding-left: 0;
    padding-right: 0;
}

.section-right {
    display: inline-block;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.section-right .title-top {
    font-size: 55px;
    font-weight: 700;
    color: white;
    padding-bottom: 1rem;
}

.section-right .parag-top {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    padding-bottom: 1.5rem;
}

ul {
    display: flex;
}

ul li {
    position: relative;
}

li.border-bottom-js::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 0;
    transition: 0.5s;
}

li.border-bottom-js:hover::before {
    content: '';
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
}

.section-right ul li a {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-right: 2.5rem;
}

.border-bottom-js::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    top: 2.4rem;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.border-bottom-js.boder-bottom-after::after {
    width: 50%;
}

.container-Skills ul li {
    list-style: none;
}

.container-Skills ul li span {
    font-size: 10px;
    font-weight: 400;
    color: #ff004f;
}

.container-Skills ul li {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.container-Skills ul li .html-1, .container-Skills ul li .web-1 {display: block;}

/* End Second Section */
